.courseModal {
	width: 400px;
	height: auto;
	background-color: #000;
	color: #fff;
	padding: 10px;

	& .courseModal__close-button {
		font-size: 20px;
		font-weight: 800;
		cursor: pointer;
		transform: rotate(90deg);
		position: relative;
		left: 370px;
	}

	& .courseModal__heading {
		font-size: 22px;
		text-align: center;
	}

	& .courseModal__subHeading {
		padding-left: 10px;
		padding-right: 10px;

		& .subHeading__bold {
			font-weight: 800;
		}
	}

	.btn {
		margin-top: 20px;
		margin-bottom: 20px;
	}
}
