.homepage {
	& .homepage__hero-section {
		width: 100%;
		height: 400px;
		background-image: url("../../assets/hero.jpg");
		background-size: cover;
		background-position: center;
	}

	& .courseModal__main-div {
		position: absolute;
		bottom: 4%;
		right: 2%;
	}
}
